*{
    box-sizing: border-box;
    padding: 0;
    margin:0
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
nav{
    position: fixed;
    top:50px;
    right: 25px;
    z-index: 1;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
nav ul{
    list-style: none;
}
li{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding: 10px 16px;
    box-shadow: 0 1px 5px 0 black;
    margin: 0 25px;
}
#container{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}
#container:nth-child(2){
    background-color: green;
}
#container:nth-child(3){
    background-color: yellow;
}
#scarpa1, #scarpa2, #scarpa3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    color: yellow;
    cursor: pointer;
}
#scarpa3{
    color: green;
}
h1{
    text-transform: uppercase;
}
